<h1>Modificar Emprendimiento</h1>
<div>
    <form [formGroup]="form" (submit)="edit()">
        <label>Nombre: </label>
        <input formControlName="nombre" type="text" name="nombre" placeholder="Nombre">
        <br>
        <br>
        <label>Password: </label>
		<input formControlName="password" type="password" name="password" placeholder="Contraseña">
        <br>
        <br>
        <label>Descripcion: </label>
		<input formControlName="descripcion" type="text" name="descripcion" placeholder="Descripcion">
        <br>
        <br>
        <label>Precio por Manguito: </label>
		<input formControlName="precioPorManguito" type="text" name="precioPorManguito" placeholder="PrecioPorManguito">
        <br>
        
        <br>
        <button type="submit">Modificar</button>
        <button [routerLink]="['/']" type="button">Cancelar</button>

        <div *ngIf="invalido" class="text-danger">

            <div *ngIf="form.controls['nombre'].errors?.['required']">
                dominio es requerido
            </div>
            <div *ngIf="form.controls['password'].errors?.['required']">
                password es requerido
            </div>
            <div *ngIf="form.controls['descripcion'].errors?.['required']">
                password es requerido
            </div>
            <div *ngIf="form.controls['precioPorManguito'].errors?.['required']">
                password es requerido
            </div>
        </div>

    </form>
</div>